input:focus{
    font-weight: 700;
    color: blue;
    background-color: black;
}
li:first-child{
    color: aqua;
    background-color:blueviolet
}
li:nth-child(4){
    color: aqua;
}
li:nth-child(6){
    background-color:blue
}